body {
    font-family: Arial, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px;
    padding: 10px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index{
    position: absolute;
    left: 1.5rem;
    font-weight: bold;
}

#eliminar-juego{
    position: absolute;
    right: 1.5rem;
    font-weight: bold;
    border: solid black 0.2rem;
    border-radius: 0.3rem; 
}